.page-header .panel.wrapper {
    border-bottom: 1px solid #e8e8e8;
    background-color: #f8f8f8;
    height: 80px;
}

.header.content {
        top: -70px;
    }

.logo img {
    margin-left: 315px;
    height: 22px;
    width: 125px;
    position: relative;
    top: -15px;
}

@media only screen and (min-width: 768px) {
    .logo img {
        margin-left: 549px;
    }
}

.block-search input {
    display: none;
}

.block-search .nested {
    display: none !important;
}
/**
.page-header .header-content {
    top: -70px;
}

.page-header .header-content .logo {
    margin-left: 500px;
}

.page-header .header-content .logo .img {
    height: 100px;
    width: 100px;
}
*/
