/**

.header.content {
  top: -70px;
}

@media only screen and (min-width: 768px) {
  .logo img {
    margin-left: 549px;
  }
}

.block-search input {
  display: none;
}

.block-search .nested {
  display: none !important;
}
.page-header .header-content {
    top: -70px;
}

.page-header .header-content .logo {
    margin-left: 500px;
}

.page-header .header-content .logo .img {
    height: 100px;
    width: 100px;
}
*/
/** Social Links **/
.social-links {
  height: 32px;
  height: 3.2rem;
  line-height: 29px;
  line-height: 2.9rem;
  vertical-align: middle;
  vertical-align: middle; }
  .social-links a {
    margin-right: 25px;
    margin-right: 2.5rem;
    max-width: 10px;
    max-width: 1rem;
    display: inline-block; }
    .social-links a:hover {
      text-decoration: none; }
  .social-links .fa {
    border-width: 1.2px;
    border-width: 0.12rem;
    height: 25px;
    height: 2.5rem;
    line-height: 25px;
    line-height: 2.5rem;
    width: 25px;
    width: 2.5rem;
    border-color: #000;
    border-radius: 50%;
    border-style: solid;
    color: #000;
    text-align: center;
    vertical-align: middle; }
    .social-links .fa:hover {
      background-color: #000;
      color: #f8f8f8; }

/** Page Header **/
.page-wrapper .page-header {
  height: 104px;
  height: 10.4rem;
  background-color: #f8f8f8; }
  .page-wrapper .page-header .panel.wrapper {
    border-bottom: 1.75px solid #000;
    border-bottom: 0.175rem solid #000;
    height: 52px;
    height: 5.2rem; }
  .page-wrapper .page-header .header.content {
    padding: 0; }

/** Cart **/
.minicart-wrapper {
  position: absolute;
  right: 0; }
  .minicart-wrapper .action.showcart {
    margin-right: 23px;
    margin-right: 2.3rem;
    margin-top: 10px;
    margin-top: 1rem; }

/** Logo **/
.logo {
  top: -35px;
  top: -3.5rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  .logo img {
    width: 180px;
    width: 18rem; }

/** Navigation Bar **/
.navigation-bar {
  line-height: 52px;
  line-height: 5.2rem;
  height: 100%;
  left: 50%;
  padding: 0;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  .navigation-bar li {
    display: inline-block;
    text-transform: uppercase; }
    .navigation-bar li a {
      padding: 8px;
      padding: 0.8rem;
      color: #000;
      font-weight: 600;
      text-decoration: none; }
      .navigation-bar li a:hover {
        color: #2f4f4f;
        cursor: pointer; }

/** Search Bar **/
.action.search.submit {
  left: 20px;
  left: 2rem; }

#search {
  padding-left: 25px;
  padding-left: 2.5rem; }

/** DESKTOP **/
a {
  color: #afaeae; }
  a:visited {
    color: #afaeae; }

@media (min-width: 770px) {
  .footer.content {
    margin-top: -35px;
    margin-top: -3.5rem;
    border-top: hidden; }
    .footer.content .links {
      margin-top: 45px;
      margin-top: 4.5rem; }
      .footer.content .links > li {
        margin-left: -45px;
        margin-left: -4.5rem;
        padding-top: 10px;
        padding-top: 1rem;
        font-family: Helvetica;
        font-weight: 600;
        margin-bottom: auto; }
    .footer.content.right {
      margin-right: -5px;
      margin-right: -0.5rem;
      margin-top: -190px;
      margin-top: -19rem;
      float: right;
      font-family: Helvetica;
      font-weight: 600;
      list-style: none;
      margin-bottom: auto;
      text-align: right;
      width: auto; }
      .footer.content.right .img {
        height: 40px;
        height: 4rem;
        margin-top: -10px;
        margin-top: -1rem;
        width: 185px;
        width: 18.5rem; }
      .footer.content.right > li {
        padding-top: 10px;
        padding-top: 1rem; }
  .page-footer {
    background-color: #f8f8f8; } }

/** MOBILE AND TABLET */
@media (max-width: 770px) {
  .footer.content {
    margin-top: -10px;
    margin-top: -1rem;
    text-align: center; }
    .footer.content .links > li {
      padding-top: 10px;
      padding-top: 1rem;
      font-family: Helvetica;
      font-weight: 600; }
    .footer.content .links .block-static-block.widget {
      display: none; }
    .footer.content.right {
      font-family: Helvetica;
      font-weight: 600;
      list-style: none;
      text-align: center; }
      .footer.content.right > li {
        padding-bottom: 10px;
        padding-bottom: 1rem; } }

html {
  font-size: 62.5%; }

/*# sourceMappingURL=custom.css.map */
