.opc-progress-bar-item {
  &._active {
    &:before {
      background: map-get($colors, 'teal') !important;
    }
  }
}

.opc-progress-bar-item {
  &._active {
    > span {
      &:before {
        background: map-get($colors, 'teal') !important;
      }
    }
  }
}

.item-qty {
  &.cart-item-qty {
    @include rem(margin-left, 20px);
  }
}

.iwd_main_wrapper {
  .iwd_opc_alternative_wrapper {
    .iwd_opc_column {
      .iwd_opc_button {
        &:active {
          background-color: map-get($colors, 'hoc');
          border-color: map-get($colors, 'white');
          color: map-get($colors, 'white');
          font-weight: bold;
        }
      }
    }
  }
}
