/** DESKTOP **/
a {
  color: map-get($colors, 'light-grey');

  &:visited {
    color: map-get($colors, 'light-grey');
  }
}

/** Mobile Footer */
@include breakpoint(0px, 701px) {
  .page-footer {
    //background-color: map_get($colors, 'lgrey');
    box-shadow: 0px -3px 7px 0px rgba(0, 0, 0, 0.3);
    @include rem(height, 240px);
    @include rem(margin-bottom, -20px);
    display: grid;
    grid-grap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 0.50fr;
    grid-template-areas: "social" "logo" "link1" "link2";
    justify-content: center;
  }

  .footer-logo {
    grid-area: logo;

    img {
      @include rem(bottom, -10px);
      @include rem(padding-top, 18px);
      @include rem(width, 185px);
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  }

  .footer-left {
    grid-area: link1;

    > li {
      @include rem(bottom, -8px);
      @include rem(padding-top, 5px);
      font-family: "Helvetica Neue";
      font-size: 11pt;
      list-style: none;
      text-align: center;
      position: relative;
    }
  }

  .footer-right {
    grid-area: link2;

    > li {
      @include rem(bottom, -7px);
      @include rem(padding-top, 5px);
      font-family: "Helvetica Neue";
      font-size: 11pt;
      list-style: none;
      text-align: center;
      position: relative;
    }
  }

  .social-links {
    @include rem(margin-top, -20px);
    @include rem(width, 150px);
    display: flex;
    flex-flow: row wrap;
    float: right;
    grid-area: social;
    justify-content: space-evenly;
    list-style: none;
    margin-button: auto;
    margin-left: auto;
    margin-right: auto;

    > li {
      @include rem(bottom, -40px);
      @include rem(margin-top, -5px);
      position: relative;

    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    .fa {
      @include rem(border-width, 1.2px);
      @include rem(height, 25px);
      @include rem(line-height, 25px);
      @include rem(width, 25px);
      border-color: map-get($colors, 'dark-grey');
      border-radius: 50%;
      border-style: solid;
      color: map-get($colors, 'dark-grey');
      text-align: center;
      vertical-align: middle;

      &:hover {
        background-color: map-get($colors, 'black');
        color: map-get($colors, 'grey');
      }
    }
  }
}
/** Desktop & Tablet Footer **/
@include breakpoint(701px) {
  .social-links {
    @include rem(margin-top, 15px);
    //@include rem(width, 100px);//breaks social links and logo
    display: flex;
    flex-flow: row wrap;
    float: right;
    grid-area: social;
    justify-content: space-evenly;
    list-style: none;
    margin-left: auto;
    margin-right: auto;

    > li {
      @include rem(margin-right, 15px);
      @include rem(margin-top, 10px);
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    .fa {
      @include rem(border-width, 1.2px);
      @include rem(height, 25px);
      @include rem(line-height, 25px);
      @include rem(width, 25px);
      border-color: map-get($colors, 'dark-grey');
      border-radius: 50%;
      border-style: solid;
      color: map-get($colors, 'dark-grey');
      text-align: center;
      vertical-align: middle;

      &:hover {
        background-color: map-get($colors, 'black');
        color: map-get($colors, 'grey');
      }
    }
  }

  .footer-left {
    @include rem(margin-top, 45px);
    grid-area: link1;

    > li {
      @include rem(margin-left, 15px);
      @include rem(padding-top, 0px);
      font-family: "Helvetica Neue";
      font-size: 13pt;
      list-style: none;
      overflow: hidden;
      white-space: nowrap;

      a {
        color: map_get($colors, 'mgrey');
      }
    }
  }

  .page-footer {
    background-color: map_get($colors, 'lgrey');
    box-shadow: 0px -3px 7px 0px rgba(0, 0, 0, 0.3);
    @include rem(margin-bottom, -20px);
    //@include rem(margin-top, 7px);
    @include rem(height, 140px);
    display: grid;
    grid-grap: 1 rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "link1 social link2"  "link1 logo link2";

    .footer-right {
      @include rem(margin-top, 45px);
      grid-area: link2;

      > li {
        @include rem(margin-left, 15px);
        @include rem(margin-right, 15px);
        @include rem(padding-top, 0px);
        font-family: "Helvetica Neue";
        font-size: 13pt;
        list-style: none;
        text-align: right;

        a {
          color: map_get($colors, 'mgrey');
        }
      }
    }
  }

  .footer-logo {
    grid-area: logo;

    img {
      @include rem(margin-top, -10px);
      @include rem(padding-top, 5px);
      @include rem(width, 185px);
      display: block;
      margin-left: auto;
      margin-right: auto;
     }
  }
}