/** DESKTOP **/
a {
  color: map-get($colors, 'light-grey');

  &:visited {
    color: map-get($colors, 'light-grey');
  }
}

/** Mobile Footer */
@include breakpoint(0px, 426px) {
  .page-footer {
    background-color: map_get($colors, 'lgrey');
    box-shadow: inset 0px 9px 20px 2px rgba(0, 0, 0, 0.1);
    @include rem(margin-bottom, -20px);
    //@include rem(margin-top, 7px);
    display: grid;
    grid-grap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 0.50fr;
    grid-template-areas: "logo" "link1" "link2" "social";
    justify-content: center;
  }

  .footer-logo {
    grid-area: logo;

    img {
      @include rem(bottom, -10px);
      @include rem(height, 40px);
      @include rem(padding-top, 5px);
      @include rem(width, 185px);
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }

    p {
      display: none;
    }
  }

  .footer-left {
    grid-area: link1;

    > li {
      @include rem(bottom, -30px);
      @include rem(padding-top, 10px);
      font-family: "Helvetica Neue";
      list-style: none;
      text-align: center;
      position: relative;
    }
  }

  .footer-right {
    grid-area: link2;

    > li {
      @include rem(bottom, -30px);
      @include rem(padding-top, 10px);
      font-family: "Helvetica Neue";
      list-style: none;
      text-align: center;
      position: relative;
    }
  }

  .social-links {
    @include rem(bottom, 10px);
    @include rem(margin-top, 6px);
    display: flex;
    flex-flow: row wrap;
    float: right;
    grid-area: social;
    justify-content: space-evenly;
    list-style: none;
    margin-button: auto;
    margin-left: auto;
    margin-right: auto;
    width: 150px;

    > li {
      @include rem(bottom, -40px);
      position: relative;

    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    .fa {
      @include rem(border-width, 1.2px);
      @include rem(height, 25px);
      @include rem(line-height, 25px);
      @include rem(width, 25px);
      border-color: map-get($colors, 'dark-grey');
      border-radius: 50%;
      border-style: solid;
      color: map-get($colors, 'dark-grey');
      text-align: center;
      vertical-align: middle;

      &:hover {
        background-color: map-get($colors, 'black');
        color: map-get($colors, 'grey');
      }
    }
  }
}
/** Desktop & Tablet Footer **/
@include breakpoint(426px) {
  .social-links {
    @include rem(bottom, 10px);
    display: flex;
    flex-flow: row wrap;
    float: right;
    grid-area: social;
    justify-content: space-evenly;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 150px;

    a {
      &:hover {
        text-decoration: none;
      }
    }

    .fa {
      @include rem(border-width, 1.2px);
      @include rem(height, 25px);
      @include rem(line-height, 25px);
      @include rem(width, 25px);
      border-color: map-get($colors, 'dark-grey');
      border-radius: 50%;
      border-style: solid;
      color: map-get($colors, 'dark-grey');
      text-align: center;
      vertical-align: middle;

      &:hover {
        background-color: map-get($colors, 'black');
        color: map-get($colors, 'grey');
      }
    }
  }

  .footer-left {
    @include rem(margin-top, 40px);
    grid-area: link1;

    > li {
      @include rem(margin-left, 15px);
      @include rem(padding-top, 5px);
      font-family: "Helvetica Neue";
      font-size: 13pt;
      list-style: none;

      a {
        color: map_get($colors, 'mgrey');
      }
    }
  }

  .page-footer {
    background-color: map_get($colors, 'lgrey');
    box-shadow: inset 0px 9px 20px 2px rgba(0, 0, 0, 0.1);
    @include rem(margin-bottom, -20px);
    //@include rem(margin-top, 7px);
    @include rem(max-height, 165px);
    display: grid;
    grid-grap: 1 rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "link1 logo link2"  "link1 social link2";

    .footer-right {
      @include rem(margin-top, 40px);
      grid-area: link2;

      > li {
        @include rem(margin-left, 15px);
        @include rem(margin-right, 15px);
        @include rem(padding-top, 5px);
        font-family: "Helvetica Neue";
        font-size: 13pt;
        list-style: none;
        text-align: right;

        a {
          color: map_get($colors, 'mgrey');
        }
      }
    }
  }

  .footer-logo {
    grid-area: logo;

    img {
      @include rem(height, 35px);
      @include rem(margin-top, 10px);
      @include rem(padding-top, 5px);
      @include rem(width, 185px);
      display: block;
      margin-left: auto;
      margin-right: auto;
     }

    p {
      @include rem(letter-spacing, 2px);
      @include rem(margin-top, 5px);
      color: map_get($colors, 'dark-grey');
      font-size: 13pt;
      font-family: Helvetica Neue;
      text-align: center;
      text-decoration: overline;
      text-decoration-color: slategrey;
    }
  }
}