/**

.header.content {
  top: -70px;
}

@media only screen and (min-width: 768px) {
  .logo img {
    margin-left: 549px;
  }
}

.block-search input {
  display: none;
}

.block-search .nested {
  display: none !important;
}
.page-header .header-content {
    top: -70px;
}

.page-header .header-content .logo {
    margin-left: 500px;
}

.page-header .header-content .logo .img {
    height: 100px;
    width: 100px;
}
*/

/** Desktop & Tablet Page Header */
@include breakpoint(426px) {
  .page-wrapper {
    .page-header {
      @include rem(height, 104px);
      background-color: map-get($colors, 'grey');
      box-shadow: 0px 9px 20px 2px rgba(0,0,0,0.10);

      .panel {
        &.wrapper {
          @include rem(border-bottom, 1px solid rgba(0, 0, 0, 3.0));
          @include rem(height, 52px);
          @include rem(margin, 0 auto);
          width: 95%;
        }
      }

      .header {
        &.content {
          padding: 0;
        }
      }
    }
  }
}

@include breakpoint(1020px, 1300px) {
  .page-wrapper {
    .page-header {
      .panel {
        &.wrapper {
          max-width: 95%;
        }
      }
    }
  }
}

@include breakpoint(426px, 767px) {
  .page-wrapper {
    .page-header {
      .panel {
        &.wrapper {
          width: 94%;
        }
      }
    }
  }

  .navigation-bar {
    @include rem(margin-left, 15px);
  }
}

/** Mobile Page Header **/
@include breakpoint(0px, 425px) {
  .page-wrapper {
    .page-header {
      @include rem(height, 75px);
      background-color: map-get($colors, 'grey');
      border-bottom: none;
      box-shadow: 0px 9px 20px 2px rgba(0,0,0,0.10);

      .panel {
        &.wrapper {
          @include rem(height, 52px);
        }
      }

      .header {
        &.content {
          padding: 0;
        }
      }
    }
  }

  .nav-toggle {
    top: -35px;
  }

  .minicart-wrapper {
    top: -51px;
  }

  .minicart-wrapper {
    .action.showcart {
      @include rem(margin-right, 10px);
      @include rem(margin-top, 8px);
      @include rem(right, -10px);
      display: block;
      position: absolute;
    }
  }

  /** Categories title and description from homepage */
  .content-heading {
    .title {
      font-size: 18px !important;
    }

    .info {
      font-size: 12px !important;
    }
  }
}

/** Cart **/
.minicart-wrapper {
  position: absolute;
  right: 0;

  .action {
    &.showcart {
      @include rem(margin-right, 23px);
      @include rem(margin-top, 10px);
    }
  }
}


/** Desktop Logo **/
@include breakpoint(768px) {
  .logo {
    @include rem(left, 30px);
    @include rem(margin-left, 25px);
    @include rem(top, -32px);
    float: left;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;

    img {
      @include rem(width, 180px);
    }
  }
}

/** Tablet Logo && Nav toggle */
@include breakpoint(426px, 767px) {
  .logo {
    @include rem(margin-left, 25px);
    @include rem(top, -45px);
    float: left;
    padding: 0;
    position: absolute;
    width: 100%;
  }

  .nav-toggle {
    display: none;
  }
}

/** Mobile Logo **/
@include breakpoint(0px, 425px) {
  .logo {
    @include rem(top, -35px);
    left: 39%;
    transform: translate(-50%, 0);

    img {
      @include rem(width, 180px)
    }
  }
}

/** Desktop & Tablet Navigation Bar **/
@include breakpoint(426px) {
  .navigation-bar {
    @include rem(line-height, 52px);
    @include rem(margin-left, 20px);
    float: left;
    padding: 0;
    position: absolute;
    width: 100%;

    li {
      display: inline-block;
      text-transform: uppercase;

      a {
        @include rem(padding, 8px);
        color: map-get($colors, 'black');
        font-weight: 600;
        text-decoration: none;

        &:hover {
          color: map-get($colors, 'dimgrey');
          cursor: pointer;
        }
      }
    }
  }
}

/** MOBILE Navigation Bar*/
@include breakpoint(0px, 425px) {
  .navigation-bar {
    display: none;
  }
}

/** MOBILE */
@include breakpoint(0px, 425px) {
  .navigation-bar {
    display: none;
  }
}

.block-search {
  .action.search {
    @include rem(right, -14px !important);
  }
}

/** Search Bar **/
.action {
  &.search {
    &.submit {
      @include rem(left, 20px);
    }
  }
}

#search {
  @include rem(padding-left, 25px);
}

@include breakpoint(1024px) {
  .page-wrapper {
    .shipping-header {
      .shipping-text {
        @include rem(margin-top, -1px !important);
        font-size: 15pt;
      }
    }
  }
}
@include breakpoint(426px) {
  .page-wrapper {
    .shipping-header {
      @include rem(height, 35px);
      background: map-get($colors, 'hoc');
    }

    .shipping-text {
      //@include rem(margin-top, 5px !important);
      @include rem(padding-top, 5px);
      color: white;
      font-family: "Halvetica Neue";
      font-size: 13pt;
      font-weight: 800;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
    }
  }
}

  /** MOBILE */
  @include breakpoint(0px, 425px) {
    .page-wrapper {
      .shipping-header {
        @include rem(height, 35px);
        background: map-get($colors, 'hoc');
      }

      .shipping-text {
        @include rem(padding-top, 6px);
        color: white;
        font-family: "Halvetica Neue";
        font-size: 12pt;
        margin: auto;
        text-align: center;
      }
    }
  }


  /** Mini-cart design */
  .minicart-wrapper {
    .action {
      &.showcart {
        .counter {
          &.qty {
            background:  map-get($colors, 'teal');
          }
        }
      }
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }

    &:active {
      text-decoration: none;
    }
  }

