/**

.header.content {
  top: -70px;
}

@media only screen and (min-width: 768px) {
  .logo img {
    margin-left: 549px;
  }
}

.block-search input {
  display: none;
}

.block-search .nested {
  display: none !important;
}
.page-header .header-content {
    top: -70px;
}

.page-header .header-content .logo {
    margin-left: 500px;
}

.page-header .header-content .logo .img {
    height: 100px;
    width: 100px;
}
*/

/** Desktop & Tablet Social Links **/
@include breakpoint(426px) {
  .social-links {
    @include rem(height, 32px);
    @include rem(line-height, 29px);
    @include rem(vertical-align, middle);

    a {
      @include rem(margin-right, 25px);
      @include rem(max-width, 10px);
      display: inline-block;

      &:hover {
        text-decoration: none;
      }
    }

    .fa {
      @include rem(border-width, 1.2px);
      @include rem(height, 25px);
      @include rem(line-height, 25px);
      @include rem(width, 25px);
      border-color: map-get($colors, 'black');
      border-radius: 50%;
      border-style: solid;
      color: map-get($colors, 'black');
      text-align: center;
      vertical-align: middle;

      &:hover {
        background-color: map-get($colors, 'black');
        color: map-get($colors, 'grey');
      }
    }
  }
}

/** MOBILE */
@include breakpoint(0px, 425px) {
  .social-links {
    display: none;
  }
}


/** Desktop & Tablet Page Header */
@include breakpoint(426px) {
  .page-wrapper {
    .page-header {
      @include rem(height, 104px);
      background-color: map-get($colors, 'grey');

      .panel {
        &.wrapper {
          @include rem(border-bottom, 1.75px solid map-get($colors, 'black'));
          @include rem(height, 52px);
        }
      }

      .header {
        &.content {
          padding: 0;
        }
      }
    }
  }
}

/** Mobile Page Header **/
@include breakpoint(0px, 425px) {
  .page-wrapper {
    .page-header {
      @include rem(height, 104px);
      background-color: map-get($colors, 'grey');

      .panel {
        &.wrapper {
          @include rem(border-bottom, 1.75px solid map-get($colors, 'grey'));
          @include rem(height, 52px);
        }
      }

      .header {
        &.content {
          padding: 0;
        }
      }
    }
  }
}

/** Cart **/
.minicart-wrapper {
  position: absolute;
  right: 0;

  .action {
    &.showcart {
      @include rem(margin-right, 23px);
      @include rem(margin-top, 10px);
    }
  }
}


/** Desktop & Tablet Logo **/
@include breakpoint(426px) {
  .logo {
    @include rem(top, -35px);
    left: 50%;
    transform: translate(-50%, 0);

    img {
      @include rem(width, 180px)
    }
  }
}

/** Mobile Logo **/
@include breakpoint(0px, 425px) {
  .logo {
    @include rem(top, -35px);
    left: 39%;
    transform: translate(-50%, 0);

    img {
      @include rem(width, 180px)
    }
  }
}

/** Desktop & Tablet Navigation Bar **/
@include breakpoint(426px) {
  .navigation-bar {
    @include rem(line-height, 52px);
    height: 100%;
    left: 50%;
    padding: 0;
    position: absolute;
    transform: translate(-50%, 0);

    li {
      display: inline-block;
      text-transform: uppercase;

      a {
        @include rem(padding, 8px);
        color: map-get($colors, 'black');
        font-weight: 600;
        text-decoration: none;

        &:hover {
          color: map-get($colors, 'dimgrey');
          cursor: pointer;
        }
      }
    }
  }
}

/** MOBILE Navigation Bar*/
@include breakpoint(0px, 425px) {
  .navigation-bar {
    display: none;
  }
}

@include breakpoint(426px, 769px) {
  .navigation-bar {
    display: none;
  }
}

/** MOBILE */
@include breakpoint(0px, 425px) {
  .navigation-bar {
    display: none;
  }
}

/** Search Bar **/
.action {
  &.search {
    &.submit {
      @include rem(left, 20px);
    }
  }
}

#search {
  @include rem(padding-left, 25px);
}

.page-wrapper {
  .shipping-header {
    background: map-get($colors, 'hoc');
  }

  .shipping-text {
    color: white;
    font-family: Helvetica;
    font-size: 15pt;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
  }
}

/** MOBILE */
@include breakpoint(0px, 425px) {
  .page-wrapper {
    .shipping-header {
      .shipping-text {
        font-size: 14pt;
      }
    }
  }
}

/** Mini-cart design */
.minicart-wrapper {
  .action {
    &.showcart {
      .counter {
        &.qty {
          background:  map-get($colors, 'teal'); ;
        }
      }
    }
  }
}
