.page-header {
  .panel {
    &.wrapper {
      display: none;
    }
  }
}

@include breakpoint(0px, 701px) {
  .page-wrapper {
    .page-header {
      @include rem(height, 74px);
      background-color: map-get($colors, 'grey');
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
      display: grid;
      grid-grap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "toggle-nav logo minicart";

      .magestore-bannerslider {
        display:none;
      }

      .nav-toggle {
        grid-area: toggle-nav;
        margin: auto;
        position: inherit;
      }

      .logo {
        grid-area: logo;
        margin: auto;
        max-width: 100% !important;
        top: -9%;

        img {
          @include rem(width, 240px);
          height: auto;
        }
      }

      .minicart-wrapper {
        grid-area: minicart;
        margin: auto;
      }

      .navigation-bar {
        display: none;
      }

      .block-search {
        display: none;
      }
    }
  }
}

@include breakpoint(701px) {
  .page-wrapper {
    .page-header {
      @include rem(height, 104px);
      background-color: map-get($colors, 'grey');
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
      display: grid;
      grid-grap: 1rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "logo search" "nav minicart";

      .magestore-bannerslider {
        display:none;
      }

      .nav-toggle {
        display: none;
      }

      .minicart-wrapper {
        @include rem(bottom, 8px);
        @include rem(left, -10px);
        display: block;
        grid-area: minicart;
        margin: auto;
        margin-right: 0;
        transform: translate(-20%, 0);
        z-index: 101;
      }

      .logo {
        //In functie de banner
        @include rem(left, 25px);
        grid-area: logo;
        margin: auto;
        margin-left: 0;
        margin-right: 0;
      }

      .navigation-bar {
        //In functie de banner
        @include rem(margin-left, -36px);
        grid-area: nav;
        margin-bottom: auto;
        margin-top: auto;

        .dropdown {
          display: inline-block;
          position: relative;

          &:hover {
            .dropdown-content {
              display: block;
              float: none;
            }
          }

          .dropbtn {
            @include rem(padding, 16px);
            background-color: transparent;
            border: none;
            color: white;
          }

          .dropdown-content {
            @include rem(box-shadow, 0px 8px 16px 0px rgba(0, 0, 0, 0.2));
            @include rem(margin-left, 23px);
            @include rem(width, 100px);
            background-color: map-get($colors, 'grey');
            display: none;
            position: absolute;
            z-index: 1;

            .a {
              @include rem(font-size, 18px);
              @include rem(padding, 12px 16px);
              color: black;
              display: none;
              text-decoration: none;
            }
          }
        }


        li {
          color: map-get($colors, 'dark-grey');
          display: inline-block;
          font-family: "Helvetica Neue";
          text-transform: uppercase;

          a {
            @include rem(padding, 8px);
            color: map-get($colors, 'black');
            font-weight: 600;
            text-decoration: none;

            &:hover {
              color: map-get($colors, 'dimgrey');
              cursor: pointer;
            }
          }
        }
      }

      .block-search {
        display: none;
        grid-area: search;

        .control {
          display: none;
        }
      }
    }
  }
}

/** Categories title and description from homepage */
.content-heading {
  .title {
    font-size: 18px !important;
  }

  .info {
    font-size: 12px !important;
  }
}

/** Search Bar **/
.action {
  &.search {
    &.submit {
      @include rem(left, 20px);
    }
  }
}

#search {
  @include rem(padding-left, 25px);
}

@include breakpoint(1024px) {
  .page-wrapper {
    .shipping-header {
      .shipping-text {
        @include rem(margin-top, -1px !important);
        font-size: 15pt;
      }
    }
  }
}

@include breakpoint(426px) {
  .page-wrapper {
    .shipping-header {
      @include rem(height, 35px);
      background: map-get($colors, 'hoc');
    }

    .shipping-text {
      //@include rem(margin-top, 5px !important);
      @include rem(padding-top, 5px);
      color: white;
      font-family: "Halvetica Neue";
      font-size: 13pt;
      font-weight: 800;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
    }
  }
}

/** MOBILE */
@include breakpoint(0px, 425px) {
  .page-wrapper {
    .shipping-header {
      @include rem(height, 35px);
      background: map-get($colors, 'hoc');
    }

    .shipping-text {
      @include rem(padding-top, 6px);
      color: white;
      font-family: "Halvetica Neue";
      font-size: 12pt;
      margin: auto;
      text-align: center;
    }
  }
}

/** Mini-cart design */
.minicart-wrapper {
  .action {
    &.showcart {
      .counter {
        &.qty {
          background: map-get($colors, 'teal');
        }
      }
    }
  }
}

a {
  &:hover {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}
