/** REVIEW STARS BLACK **/
.rating-summary {
  .rating-result {
    > span {
      &:before {
        color: map-get($colors, 'black');
      }
    }
  }
}

.product-info-main {
  .page-title-wrapper {
    .page-title {
      @include rem(margin-top, 10px !important);
    }
  }
}


/** REMOVE ADD-TO-LINKS FROM PRODUCTS WIDGET HOME PAGE **/
.product-item-actions {
  .actions-primary {
    display: block;

    + {
      .actions-secondary {
        display: none;
      }
    }
  }
}

/** DISPLAY QTY AND BOX FOR QUANTITY IN THE SAME LINE **/
.product-add-form {
  .fieldset {
    > {
      .field{
        &:not(.choice) {
          > {
            .control {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

/** MOVE ADD TO CART BELOW QTY **/
@include breakpoint(768px) {
  .product-info-main {
    .box-tocart {
      .field {
        &.qty {
          display: block !important;
        }
      }
    }
  }

  .product-options-bottom {
    .box-tocart {
      .field {
        &.qty {
          display: block !important;
        }
      }
    }
  }
}

.print {
  .product-info-main {
    .box-tocart {
      .field {
        &.qty {
          display: block !important;
        }
      }
    }
  }

  .product-options-bottom {
    .box-tocart {
      .field {
        &.qty {
          display: block !important;
        }
      }
    }
  }
}

/** ADD TO CART AND REMOVE BLUE BORDER FROM THE BUTTON **/
.product-info-main {
  .box-tocart {
    .action {
      &.tocart {
        @include rem(border, 1px solid !important);
        background-color: map-get($colors, 'teal');
      }
    }

    .input-text {
      &.qty {
        @include rem(height, 35px);
        @include rem(margin-left, 20px);
      }
    }
  }

  .price-box {
    /* @include rem(padding-bottom, 20px); */
  }

  .product-info-stock-sku {
    /* @include rem(padding-bottom, 20px); */
  }
}

@include breakpoint (426px) {
  .product-options-bottom {
    .box-tocart {

      .fieldset {
        .actions {
          @include rem(height, 75px);
        }
      }
    }
  }
}

@include breakpoint (768px) {
  .product-options-bottom {
    .box-tocart {
      .action {
        &.tocart {
          width: 230%;
        }
      }
    }
  }
}
.product-options-bottom {
  .box-tocart {
    .field {
      &.qty {
        display: none !important;
      }
    }

    .action {
      &.tocart {
        @include rem(border, 1px solid !important);
        background-color: map-get($colors, 'teal');
      }
    }

    .input-text {
      &.qty {
        @include rem(height, 35px);
        @include rem(margin-left, 20px);
      }
    }
  }
}

/** ADD TO CART ON HOVER **/
.action {
  &.primary {
    background-color: map-get($colors, 'teal') !important;
    @include rem(border, 1px solid map-get($colors, 'teal'));
  }

  &:hover {
    @include rem(border, 1px solid transparent !important);
  }
}

/** Change color for product name in mini-cart */
.minicart-items {
  .product-item-name {
    a {
      color: map-get($colors, 'black');
    }
  }
}


    /** SIZE DROPDOWN MENU */
  select {
    @include rem(border, 1px solid map-get($colors, 'grey'));
    background: map-get($colors, 'grey') !important;
    font-weight: 600;
    width: 60%;
  }

  ._keyfocus {
    * {
      &:focus {
        @include rem(box-shadow, 0 0 3px 1px map-get($colors ,'grey') !important);
      }
    }
  }

  input {
    &:not([disabled]) {
      &:focus {
        @include rem(box-shadow, 0 0 3px 1px map-get($colors ,'grey') !important);
      }
    }
  }

  textarea {
    &:not([disabled]) {
      &:focus {
        @include rem(box-shadow, 0 0 3px 1px map-get($colors ,'grey') !important);
      }
    }
  }

  select {
    &:not([disabled]) {
      &:focus {
        @include rem(box-shadow, 0 0 3px 1px map-get($colors ,'grey') !important);
      }
    }
  }

  .links {
    .block-static-block {
      &.widget {
        @include rem(margin-top, -20px);
        @include rem(right, 10px);
        position: absolute;
      }
    }
  }


  .swatch-attribute-options {
    .swatch-option {
      @include rem(height, 29px);
      @include rem(width, 23px);
      border-radius: 50%;

      &:hover {
        @include rem(outline, 2px solid transparent !important);
      }

      &.selected {
        @include rem(outline, 2px solid transparent !important);
      }

      &.image {
        &:not(.disabled) {
          &:hover {
            @include rem(outline, 2px solid transparent !important);
          }
        }
      }

      /** MAKE COLOR SWATCHER BIGGER ON HOVER
      &:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
      } **/
    }
  }

  .clearfix {
    &:after {
      display: none;
    }
  }

  .swatch-option-tooltip {
    display: none !important;
    visibility: hidden !important;
  }

  .product {
    &.data {
      &.items {
        > .item {
          &.title {
            &.active {
              > .switch {
                display: none;
              }
            }
          }
        }
      }
    }
  }


  .product {
    &.data {
      &.items {
        > .item {
          &.content {
            @include rem(border, 1px solid transparent);
          }
        }
      }
    }
  }

.minicart-items {
  .action.edit{
    display: none;
  }
}

//.block-minicart {
//  .items-total {
//    display: none;
//  }
//}